@model IEnumerable<ITS_Support.Models.RoomTicketModel>

@{
    ViewData["Title"] = "Index";
    bool complete = false;
    var UpdateCount = 0;
}

<h1>Room Tickets</h1>

<div class="row button-row">
    <div class=" col-md-9">
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
    </div>
    <div class="col-md-3">
        <a class="btn btn-dark btn-block" asp-action="Table">Table View</a>
    </div>
</div>

<div class="row ticket-row">
    @foreach (var item in Model)
    {
        complete = false;
        @foreach (var update in item.Updates)
        {
            if (update.Status.ToString() == "Complete")
            {
                complete = true;
            }
            UpdateCount++;
        }
        if (complete == false)
        {
            <div class="col-md-3">
                <div class="ticket">
                    <div class="ticket-content">
                        @{var DateFormat = item.CreatedAt.Date.ToString().Substring(0, 10);}
                        @{var TimeFormat = item.CreatedAt.TimeOfDay.ToString().Substring(0, 5);}
                        <h3 class="ticket-date">@DateFormat</h3>
                        <h5 class="ticket-time">@TimeFormat</h5>
                        <h3 class="ticket-issue">@item.Issue</h3>
                        <p class="ticket-text">@item.ExtraDetails</p>
                        <p><b>Campus:</b> @item.Room.Campus</p>
                        <p><b>Room:</b> @item.Room.Name</p>
                        <p class="ticket-update-count">Updates: @UpdateCount</p>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info ticket-button">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger ticket-button">Delete</a>
                        <br /><br /><br />
                        <h5 class="ticket-author">@item.CreatedBy</h5>
                    </div>
                </div>
            </div>
        }
        UpdateCount = 0;
    }
</div>