@model IEnumerable<ITS_Support.Models.RoomTicketModel>

@{
    ViewData["Title"] = "Index";
    var UpdateCount = 0;
}

<h1>Room Tickets - Table View</h1>

<div class="row">
    <div class=" col-md-9">
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
    </div>
    <div class="col-md-3">
        <a class="btn btn-dark btn-block" asp-action="Index">Visual View</a>
    </div>
</div>

<input type="text" class="form-control" id="tableSearch" onkeyup="searchFunction()" placeholder="Search Issues..." />
<table class="table table-striped" id="ticketTable">
    <thead>
        <tr>
            <th onclick="sortTickets(0)">
                @Html.DisplayNameFor(model => model.Issue)
            </th>
            <th onclick="sortTickets(1)">
                @Html.DisplayNameFor(model => model.ExtraDetails)
            </th>
            <th onclick="sortTickets(2)">
                Campus
            </th>
            <th onclick="sortTickets(3)">
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th onclick="sortTickets(4)">
                Updates
            </th>
            <th onclick="sortTickets(5)">
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th onclick="sortTickets(6)">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th onclick="sortTickets(0)"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @foreach(var update in item.Updates)
            {
                UpdateCount++;
            }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Issue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Campus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Name)
            </td>
            <td>
                @UpdateCount
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
            { UpdateCount = 0; }
        }
    </tbody>
</table>

<script>
    function searchFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("tableSearch");
        filter = input.value.toUpperCase();
        table = document.getElementById("ticketTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function sortTickets(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("ticketTable");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>