@model RoomAssetViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Device Overview</h1>

<div class="row">
    <div class="col-md-3 offset-9">
        <a class="btn btn-dark btn-block" asp-action="Table">Table View</a>
    </div>
</div>

@foreach (CampusModel c in Model.Campuses)
{
    <div class="row"><h1>@c.Name</h1></div>
    <div class="row">
        @foreach (AssetModel a in Model.Assets)
        {
            @if (a.Room.Campus == c.Name)
            {
                <div class="col-md-2 asset-display-support">
                    @foreach (TypeModel t in Model.Types)
                    {
                        if (a.Type == t.Category)
                        {
                            <img src="@t.DisplayImage" class="asset-display-icon" />
                        }
                    }
                    <h3 class="asset-display-title">@a.Name</h3>
                    <h5>@a.Room.Campus</h5>
                    <h6>Room: @a.Room.Name</h6>
                    <h6>@a.Type</h6>
                    <br />
                    <div>
                        <a asp-action="Details" asp-route-id="@a.Id" class="btn btn-block btn-info">Details</a>
                    </div>
                </div>
            }
        }
    </div>

    <hr class="section-divide">
}
