@model ITS_Support.Models.TechnicalTicketModel

@{
    ViewData["Title"] = "Details";
}

<div class="row button-row">
    <div class="col-md-4">
        <h1>Ticket Details</h1>
    </div>
    <div class="col-md-3 offset-5">
        <a class="btn btn-primary btn-block" asp-action="Index">Return to Tickets</a>
    </div>
</div>

<div>
    <hr />
    <div class="row">
        <div class="col-md-6 offset-3">
            <dl class="row ticket-details">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RaisedBy)
                </dt>
                <dt class="col-sm-2"></dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.RaisedBy)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RaisedRole)
                </dt>
                <dt class="col-sm-2"></dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.RaisedRole)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Asset)
                </dt>
                <dt class="col-sm-2"></dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Asset.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Issue)
                </dt>
                <dt class="col-sm-2"></dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Issue)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ExtraDetails)
                </dt>
                <dt class="col-sm-2"></dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ExtraDetails)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>
                <dt class="col-sm-2"></dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </dt>
                <dt class="col-sm-2"></dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CreatedAt)
                </dd>
            </dl>
        </div>
    </div>

    <div class="col-md-6 offset-5 update-title">
        <h2 class="align-items-center">Updates</h2>
    </div>
    <div class="row">
        @foreach (UpdateModel update in Model.Updates)
        {
            <div class="col-md-6 offset-3 update">
                <div class="col-md-12">
                    <h5>@update.Status - @update.Update</h5>
                </div>
                <div class="col-md-8">
                    <p class="update-author">@update.CreatedAt.ToString().Substring(0, 8) - <b>@update.CreatedBy</b></p>
                </div>
            </div>
        }
    </div>

    <div class="col-md-6 offset-4 update-title">
        <h2 class="align-items-center">Create an Update</h2>
    </div>
    <div class="row">
        <div class="col-md-6 offset-3">
            <form asp-action="Update" method="post" class="row" id="UpdateForm">
                <input name="id" value="@Model.Id" type="hidden" />
                @Html.DropDownList("status", new SelectList(Enum.GetValues(typeof(StatusOptions))), "Status", new { @class = "form-select btn btn-dark btn-block col-md-4" })
                <input class="form-control col-md-8" type="text" placeholder="Details" name="update" />
                <button type="submit" class="btn btn-dark w-100 mt-2">Submit</button>
            </form>
        </div>
    </div>
</div>
